Exercice 1

Je donne les valeurs des variables et indiquer ce qui s'affiche : 

1...
x, y= 3.5 , 5
z = x/y 
p= 1

if (x>3) and (z*10 != p):
    print("Blue")
elif(p>x) and (x>4):
    print("Red")
else:
    print("Black")

Si p!= 7, le résultat est "Blue"; et si p= 7 , le resultat est "Black"

2...
i, j, k= 1, 2, 3
x, y, z=1.1; 1.2, 1.3
i=i+x 
j=j+y
k=k+z

print(i,j,k,x,y,z)

if (i+j>k) and (j-i== x):
    print("Blue")
else:
    print("Red")

le résultat indique une erreur


3...

In [29]:
#Exercice2
list=[]
n=int(input("Entrez un nombre entier naturel :  "))
for i in range(2,100):
    if n % i == 0 :
        list.append(i)

print(list)

[2, 4, 7, 8, 14, 28, 56]

In [59]:
##Exercice 3

x=int(input("Entrez un nombre entier naturel: "))
P = (x**3) - 10*(x**2)-2610*x + 84
def equation(x):
    try:
        (x**3) - 10*(x**2)-2610*x + 84
    except ValueError as e:
        return f"Erreur de valeur : {e}"
print(P)

-46491

In [57]:
#Exercice 4
list=[]  
date={
    "Mélissa":11,"Anita":8,"Donga":6, "Nèmè":6,"Lisa":3,"Rosé":2,"Jisoo":1,"Jennie":1,"Mark":9
}
cles= date.keys

def anniversaire(date,mois):
    for mois in date.values():
        list.append(cles)

print(list)

[]

In [ ]:
#Exercice 5

In [ ]:
#Exercice 6

VALEURS = {
'A' : 1, 'B' : 3, 'C' : 3, 'D' : 2, 'E' : 1, 'F' : 4, 'G' : 2, 'H' : 4,
'I' : 1, 'J' : 8, 'K' : 10, 'L' : 1, 'M' : 2, 'N' : 1, 'O' : 1, 'P' : 3,
'Q' : 8, 'R' : 1, 'S' : 1, 'T' : 1, 'U' : 1, 'V' : 4, 'W' : 10, 'X' : 10,
'Y' : 10, 'Z' : 10
}

def score_scrable(mot):
    for keys in VALEURS:
        print

score_scrable("KAYAK")